.story-hero, #main-story-1, #main-story-2, 
#main-story-3, #main-story-4, #main-story-5 {
    background: url('/Background Pixel Art.png') center/cover no-repeat;
    color: #fff;
    padding: 80px 20px 120px 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;         
    justify-content: center; 
    gap: 24px;
}

.story-hero-content {
    background: rgba(0,0,0,0.5);
    border-radius: 16px;
    width: 320px;  
    height: 220px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    margin: 0;              
    text-align: center;
}

.main-story-content {
    background: rgba(0,0,0,0.5);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
    text-align: justify;
}

.main-story-title {
    font-weight: bold;
    border-bottom: 2px var(--pink-200) solid;
    border-top: 2px var(--pink-200) solid;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    margin: 20px auto;
}